.mySurvey{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 5px;
}

.clipBoard{
    width:500px;
}
.result{
    margin-top: 5px;
}
.graph{
    width:600px;
    margin-top:50px;
}
.graph .myCard{
    width:100%;
}
.form .formCard{
    width:100%;
}
.form{
    width:600px;
    margin-top:10px;
    margin-left:4px;
    margin-right:4px;
   
}
.option{
    display:flex;
    height: 90%;
    width: 80%;
    padding: 10px;
    background-color:#f4f4f4;
    border-radius: 5px;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    animation:fade-in-text 2.2s 0.1s forwards;
    box-shadow: 4px 4px 5px 0px rgba(225,231,232,1);
}

.optionValue
{
    margin:auto;
}
.checkBox{
    width:20px;
}
@media only screen and (max-width: 600px) {
    .mySurvey{
      width:400px;
    }
    .clipBoard{
        width:200px;
    }
    .form{
        width:350px;
    }
    .graph{
        width:350px;
    }
    /* .h2{
        margin-left: 2px;
    } */
  }