.survey{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 5px;
}

.adjustCard{
    width:650px;
    margin:5px
}
@media only screen and (max-width: 600px) {
    .adjustCard {
      width:400px;
      margin:2px auto;
    }
  }