.App {
  text-align: center;
  font-family:Lato,Arial,sans-serif
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}


.form{
  margin:auto;
  background-color:#f4f4f4;
  width:60%;
  box-shadow: 4px 4px 5px 0px rgba(225,231,232,1);
}


.App-link {
  color: #61dafb;
}

